<div>
<div class="fixed-action-btn" style="padding-bottom: 80px">
    <a href="/discuss/creatediscussion" class="btn-floating btn-large red">
    
    <i class = "fa fa-plus"></i>
    </a>

</div>

</div>