<footer class="page-footer " >
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text">NotesDiyo..</h5>
                <p class="black-text text-lighten-4">Ask your doubt here</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Links</h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#">Discussions</a></li>
                  <li><a class="black-text text-lighten-3" href="/about">About</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container black-text">
            © 2018 NotesDiyo
            </div>
          </div>
        </footer>