<footer>

  <span class="tes">NotesDiyo</span>
  <br>
  <span class="tes">© 2018 NotesDiyo</span>
  <div class="text-center center-block">
    <a href="#">
      <i id="social-fb" class="fa fa-facebook fa-2x social color " style="padding-left: 50%;"></i>
    </a>
    <a href="#">
      <i id="social-tw" class="fa fa-twitter-square fa-2x social color"></i>
    </a>

    <a href="#">
      <i id="social-em" class="fa fa-instagram fa-2x social color "></i>
    </a>
  </div>