 <!-- Navbar (sit on top) -->
<nav>
  <div class="w3-top">
    <div class="w3-bar w3-white " style="height : 70px" >
      <a href="/" class="w3-bar-item w3-button w3-wide">
        <b>NOTESDIYO</b>
      </a>
      {{#if user}}
      <div class="w3-right w3-hide-small">
        <a href="/dashboard" class="w3-bar-item w3-button">Welcome {{user.firstName}}</a>
        <a href="/discuss" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> Discussions</a>
        
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-book"></i> NOTESDIYO</a>
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/auth/logout" class="w3-bar-item w3-button">
          <i class="fa fa-asterisk"></i> Logout</a>
        
      </div>

      {{else}}
      <div class="w3-right w3-hide-small">
        <a href="/auth/google" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> LOGIN WITH GOOGLE</a>
        <a href="/discuss" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> Discussions</a>
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-book"></i> NOTESDIYO</a>
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      {{/if}}
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</nav>