 <!-- Navbar (sit on top) -->
<nav>
  <div class="w3-top">
    <div class="w3-bar w3-white " style="height : 70px" >
      <a href="/" class="w3-bar-item w3-button w3-wide">
        <b>NOTESDIYO</b>
      </a>
      {{#if user}}
      <div class="w3-right w3-hide-small">
        <a href="/dashboard" class="w3-bar-item w3-button">Welcome {{user.firstName}}</a>
        <a href="/discuss" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> Discussions</a>
        
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-book"></i> NOTESDIYO</a>
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/auth/logout" class="w3-bar-item w3-button">
          <i class="fa fa-asterisk"></i> Logout</a>
          
        
      </div>

      {{else}}
      <div class="w3-right w3-hide-small">
        <a href="/auth/google" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> LOGIN WITH GOOGLE</a>
        <a href="/discuss" class="w3-bar-item w3-button">
          <i class="fa fa-user"></i> Discussions</a>
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-book"></i> NOTESDIYO</a>
        <a href="#" class="w3-bar-item w3-button">
          <i class="fa fa-envelope"></i> CONTACT</a>
      </div>
      {{/if}}
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
</nav>


<!-- sidebar for mobile needs to be edited -->
{{#if user}}
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="/dashboard" onclick="w3_close()" class="w3-bar-item w3-button">Welcome {{user.firstName}}</a>
  <a href="/discuss" onclick="w3_close()" class="w3-bar-item w3-button">Discussions</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">NOTESDIYO</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  <a href="/auth/logout" onclick="w3_close()" class="w3-bar-item w3-button">Logout</a>
</nav>
{{else}}
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
   <a href="/auth/google" onclick="w3_close()" class="w3-bar-item w3-button">Login with GOOGLE</a>
   <a href="/discuss" onclick="w3_close()" class="w3-bar-item w3-button">Discussions</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">NOTESDIYO</a>
  <a href="#" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>
 {{/if}}

