<!-- PopAds.net Popunder Code for www.notesdiyo.in -->
<head>
<script type="text/javascript" data-cfasync="false">
/*<![CDATA[/* */
  var _pop = _pop || [];
  _pop.push(['siteId', 2975428]);
  _pop.push(['minBid', 0]);
  _pop.push(['popundersPerIP', 0]);
  _pop.push(['delayBetween', 0]);
  _pop.push(['default', false]);
  _pop.push(['defaultPerDay', 0]);
  _pop.push(['topmostLayer', false]);
  (function() {
    var pa = document.createElement('script'); pa.type = 'text/javascript'; pa.async = true;
    var s = document.getElementsByTagName('script')[0]; 
    pa.src = '//c1.popads.net/pop.js';
    pa.onerror = function() {
      var sa = document.createElement('script'); sa.type = 'text/javascript'; sa.async = true;
      sa.src = '//c2.popads.net/pop.js';
      s.parentNode.insertBefore(sa, s);
    };
    s.parentNode.insertBefore(pa, s);
  })();
/*]]>/* */
</script>
</head>
<div style="height:1000%">
    <div>
        <br>
        <br>
        <br>
        <span id="dis">Computer Science Notes</span>
        <br>
        <div class="container">
            <table class="striped">

                <thead>
                    <tr>
                        <th>Chapter Name</th>

                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Introduction</td>
                        <td> Date</td>
                        <td>
                            <a class="btn left-align" href="#" download>
                                <i class="fa fa-download"></i> Download</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>