<div style="height:100%">
    <div>
        <br>
        <br>
        <br>
        <span id="dis">Math Notes</span>
        <br>
        <div class="container">
            <table class="striped">

                <thead>
                    <tr>
                        <th>Chapter Name</th>

                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Introduction</td>
                        <td> Date</td>
                        <td>
                            <a class="btn left-align" href="#" download>
                                <i class="fa fa-download"></i> Download</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>