<div style="height:1000%">
    <div class="container">
        <br>
        <br>
        <br>
        <span id="dis">Physics Notes</span>
        <form action="/subject/physics" method = "post" class="col s12">
<div class="row">
        <div class="input-field col s6" style="width:60%; padding-right:0px;">
           <select name = "class">
              
               <option value = "elev">XI</option>
               <option value = "twel">XII</option>
               
           </select>
            <label for = "class">CLass</label>
        
        </div><br>
    <input type="submit" value="Search" class="btn red" style="margin-left:5%;"></div>
     
</form>
        </div>
        <br>
        <div class="container">
            <table class="striped">

                <thead>
                    <tr>
                        <th>Chapter Name</th>

                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each notes}}
                    <tr class="{{class}}">
                        <td>{{name}}</td>
                        
                        
                        
                        <td>
                            <a class="btn left-align"  href="{{link}}" download>
                                <i class="fa fa-download"></i> Download</a>
                        </td>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table><br><br>
        
    </div>
</div>