<div style="height:300%">
    <div>
        <br>
        <br>
        <br>
        <span id="dis">Physics Notes</span>
        <br>
        <div class="container">
            <table class="striped">

                <thead>
                    <tr>
                        <th>Chapter Name</th>

                        <th>Last Updated</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each notes}}
                    <tr class="{{class}}">
                        <td>{{subject}}</td>
                        <td> {{class}}enth</td>
                        
                        <td>
                            <a class="btn left-align"  href="{{link}}" download>
                                <i class="fa fa-download"></i> Download</a>
                        </td>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</div>