body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
  .nav-wrapper .fa-bars {
    font-size: 30px;
  }
 
  .story-text{
    height: 100px;
  }
  .dash-status{
    text-transform: capitalize;
  }
  #delete-form{
    display: inline-block;
  }
  body, html {
    height: 100%;
    /* background-image: url("images/abc.jpg"); */
}

/* .bg { 
    /* The image used */
    /* background-image: url("images/abc.jpg"); */

    /* Full height */
    /* height: 100%;  */

    /* Center and scale the image nicely */
    /* background-position: center; */
    /* background-repeat: no-repeat;
    background-size: cover; */
/* } */ 
.page-footer {
  background-color: #DBD380;
}
.navcolor{
  background-color: #DBD380;
}