<!-- sidebar for mobile needs to be edited -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">NOTES DIYO</span>
    <br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">ONE STOP FOR ALL THE NOTES HUSSLE</span>
    <br>
    <span class="w3-xxlarge">Stop wasting valuable time for finding NOTES and start studying.</span>
    <p>
      <a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more</a>
    </p>
  </div>
  <div class="w3-display-bottomleft w3-text-grey w3-xxlarge" style="padding:24px 48px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    {{!--
    <i class="fa fa-linkedin w3-hover-opacity"></i> --}}
  </div>
</header>


<!-- NOTES SECTION -->
<div class="w3-container" style="padding:128px 16px" id="about">
  <h3 class="w3-center">ALL TYPES OF NOTES</h3>
  <p class="w3-center w3-large">MAIN SUBJETCS</p>
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <a href="">
        <i class="fa fa-bar-chart w3-margin-bottom w3-jumbo w3-center"></i>
      </a>
      <p class="w3-large">
        <a href="">PHYSICS</a>
      </p>
      <p>One of the difficult subjetcs, but with our notes its very easy to understand.</p>
    </div>
    <div class="w3-quarter">
      <a href="">
      <i class="fa fa-tint w3-margin-bottom w3-jumbo"></i>
      </a>
      <p class="w3-large">
        <a href="">CHEMISTRY</a>
      </p>
      <p>Never consider NCERT to be enough, always study from the best notes.</p>
    </div>
    <div class="w3-quarter">
      <a href="">
      <i class="fa fa-calculator w3-margin-bottom w3-jumbo"></i>
      </a>
      <p class="w3-large">
        <a href="">MATHEMATICS</a>
      </p>
      <p>Practice as much as you can with our best notes and quality questions.</p>
    </div>
    <div class="w3-quarter">
      <a href="">
        <i class="fa fa-sitemap w3-margin-bottom w3-jumbo"></i>
      </a>
      <p class="w3-large">
        <a href="">COMPUTER SCIENCE</a>
      </p>
      <p>Clear all the basic concepts for good coding skills.</p>
    </div>
  </div>
</div>