<br><br>
<div style="height:100%">

<div class="container">
    <h1>REGISTER TUTIONS:</h1>
<div class="row">
    <form action="/tution/register" method = "post" class="col s12">
    <div class="row">
        <div class="input-field">
            <input style="width: 80%;"  type="text" name = "teachername" required>
            <label for = "teachername">Teacher Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input style="width: 80%"  type="text" name = "address" required>
            <label for = "address">Address</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field">
            <input style="width: 80%"  type="tel" name = "pincode" maxlength="6" required>
            <label for = "pincode">Pincode</label>
        </div>
    </div>

     <div class="row">
        <div class="input-field" style="width:80%;">
           <select name = "subject">
               <option value = "physics" selected>Physics</option>
               <option value = "chemistry">Chemistry</option>
               <option value = "maths">Maths</option>
               <option value = "maths">Computer Science</option>
           </select>
            <label for = "subject">Subject</label>
        </div>
    </div>
    
   <div class="row">
        <div class="input-field">
            <input style="width: 80%"  type="text" name = "contactnumber" required>
            <label for = "contactnumber">Contact Number</label>
        </div>
    </div>
      <div class="row">
        <div class="input-field">
            <input style="width: 80%"  type="number" name = "fees" required>
            <label for = "fees">Fees</label>
        </div>
    </div>
    <input type="submit" value = "Save" class="btn">
    <br><br>
    </form>
    
</div>
</div>
</div>
</div>
</div>
<br><br><br>
