
<div style="height:1000%">
<div class="container">
    <h1>TUTIONS:</h1>
    <br><br><br>
     <div class="row">
    <form action="/tution/find"  method="post" class="col s12">
     <div class="row">
        <div class="input-field">
           <select name = "subject">
               <option value = "physics" >Physics</option>
               <option value = "chemistry">Chemistry</option>
               <option value = "maths">Maths</option>
           </select>
            <label for = "subject">Subject</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field">
            <input style="width: 80%"  type="number" name = "pincode">
            <label for = "pincode">Pincode</label>
        </div>
    </div>
    <input type="submit" value = "Recommend ttn" class="btn">


</form>
</div>

</div>
</div>